// mixins para las imagenes en cards
@mixin cards {
    background-color: rgba(124, 193, 196, 0.137);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

.container__card_foto-1 {
    background-image: url(../img/image-1.png);
    @include cards;
} 
.container__card_foto-2 {
    background-image: url(../img/image-2.png);
    @include cards;
} 
.container__card_foto-3 {
    background-image: url(../img/image-3.png);
    @include cards;
} 
.container__card_foto-4 {
    background-image: url(../img/image-4.png);
    @include cards;
} 
.container__card_foto-5 {
    background-image: url(../img/image-5.png);
    @include cards;
} 
.container__card_foto-6 {
    background-image: url(../img/image-6.png);
    @include cards;
} 
.container__card_foto-7 {
    background-image: url(../img/image-7.png);
    @include cards;
} 
.container__card_foto-8 {
    background-image: url(../img/image-8.png);
    @include cards;
} 