#Main_section {
    width: 100%;
    height: auto;
    
}
#Main_section h4 {
    padding: 2.5rem 0;
    text-align: center;   ;
}

// mediaquery

@media (min-width:768px) {
    #Main_section h4 {
        text-align: left;

    }
}

    
